:root{
	--mainColor:rgb(0, 0, 0);
	--secondaryColor:#000000;

	--borderColor:rgb(255, 255, 255);

	--mainText:rgb(0, 0, 0);
	--secondaryText:#020202;

	--themeDotBorder:rgb(255, 255, 255);

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#17a2b8;


}